In [135]:
# Downloading Dataset from Kaggle
# Link - https://www.kaggle.com/competitions/playground-series-s4e9/data
# !kaggle competitions download -c playground-series-s4e9

In [136]:
# # Unzipping files to data folder
# import zipfile

# with zipfile.ZipFile("playground-series-s4e9.zip", "r") as zip_ref:
#  zip_ref.extractall("data")

In [137]:
# Imporing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [138]:
train = pd.read_csv('data/train.csv', index_col='id')

test = pd.read_csv('data/test.csv', index_col='id')

print(f'Train Shape: {train.shape}')
print(f'Test Shape: {test.shape}')

Train Shape: (188533, 12)
Test Shape: (125690, 11)

In [139]:
train.head(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
id,,,,,,,,,,,,
0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [140]:
test.head(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title
id,,,,,,,,,,,
188533,Land,Rover LR2 Base,2015,98000,Gasoline,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes
188534,Land,Rover Defender SE,2020,9142,Hybrid,395.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,Silver,Black,None reported,Yes
188535,Ford,Expedition Limited,2022,28121,Gasoline,3.5L V6 24V PDI DOHC Twin Turbo,10-Speed Automatic,White,Ebony,None reported,NaN
188536,Audi,A6 2.0T Sport,2016,61258,Gasoline,2.0 Liter TFSI,Automatic,Silician Yellow,Black,None reported,NaN
188537,Audi,A6 2.0T Premium Plus,2018,59000,Gasoline,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes

In [141]:
print(train.isnull().sum())
print('-----------')
print(test.isnull().sum())

brand               0
model               0
model_year          0
milage              0
fuel_type        5083
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
price               0
dtype: int64
-----------
brand               0
model               0
model_year          0
milage              0
fuel_type        3383
engine              0
transmission        0
ext_col             0
int_col             0
accident         1632
clean_title     14239
dtype: int64

In [142]:
print(f'Train features:  {train.columns}')
print(f'Test features:  {test.columns}')

Train features:  Index(['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title',
       'price'],
      dtype='object')
Test features:  Index(['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title'],
      dtype='object')

In [143]:
print(f'Train: {train.info()}')

<class 'pandas.core.frame.DataFrame'>
Index: 188533 entries, 0 to 188532
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   brand         188533 non-null  object
 1   model         188533 non-null  object
 2   model_year    188533 non-null  int64
 3   milage        188533 non-null  int64
 4   fuel_type     183450 non-null  object
 5   engine        188533 non-null  object
 6   transmission  188533 non-null  object
 7   ext_col       188533 non-null  object
 8   int_col       188533 non-null  object
 9   accident      186081 non-null  object
 10  clean_title   167114 non-null  object
 11  price         188533 non-null  int64
dtypes: int64(3), object(9)
memory usage: 18.7+ MB
Train: None

In [144]:
print(f'Test: {test.info()}')

<class 'pandas.core.frame.DataFrame'>
Index: 125690 entries, 188533 to 314222
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   brand         125690 non-null  object
 1   model         125690 non-null  object
 2   model_year    125690 non-null  int64
 3   milage        125690 non-null  int64
 4   fuel_type     122307 non-null  object
 5   engine        125690 non-null  object
 6   transmission  125690 non-null  object
 7   ext_col       125690 non-null  object
 8   int_col       125690 non-null  object
 9   accident      124058 non-null  object
 10  clean_title   111451 non-null  object
dtypes: int64(2), object(9)
memory usage: 11.5+ MB
Test: None

In [145]:
# Split features into numerical and categorical types

features = ['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine', 'transmission', 'ext_col', 'int_col', 'accident', 'clean_title', 'price']
num_features = ['milage', 'model_year']
cat_features = ['clean_title', 'accident', 'model', 'transmission', 'engine', 'ext_col', 'fuel_type', 'int_col', 'brand']

print('features :', features, '\n')
print('num_features :', num_features, '\n')
print('cat_features :', cat_features, '\n')

features : ['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine', 'transmission', 'ext_col', 'int_col', 'accident', 'clean_title', 'price']

num_features : ['milage', 'model_year']

cat_features : ['clean_title', 'accident', 'model', 'transmission', 'engine', 'ext_col', 'fuel_type', 'int_col', 'brand']

In [146]:
# Print the number of unique values for each column
def category_unique(df):
    for col in df[cat_features]:
        print(f'{col} has {train[col].nunique()} values')

In [147]:
category_unique(train)
print('--------------------------')
category_unique(test)

clean_title has 1 values
accident has 2 values
model has 1897 values
transmission has 52 values
engine has 1117 values
ext_col has 319 values
fuel_type has 7 values
int_col has 156 values
brand has 57 values
--------------------------
clean_title has 1 values
accident has 2 values
model has 1897 values
transmission has 52 values
engine has 1117 values
ext_col has 319 values
fuel_type has 7 values
int_col has 156 values
brand has 57 values

In [148]:
import re

In [149]:
def extract_engine(engine):
  hp = re.search(r'(\d+\.?\d*)HP', engine)
  hp = float(hp.group(1)) if hp else None
  
  liters = re.search(r'(\d+\.?\d*)L', engine)
  liters = float(liters.group(1)) if liters else None
  
  cylinders = re.search(r'(\d+)\s+Cylinder', engine)
  cylinders = float(cylinders.group(1)) if cylinders else None

  return pd.Series([hp, liters, cylinders])

In [150]:
train[['hp', 'liters', 'cylinders']] = train['engine'].apply(extract_engine)
test[['hp', 'liters', 'cylinders']] = test['engine'].apply(extract_engine)

In [151]:
train.head(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,hp,liters,cylinders
id,,,,,,,,,,,,,,,
0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200,172.0,1.6,4.0
1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999,252.0,3.9,8.0
2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900,320.0,5.3,8.0
3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000,420.0,5.0,8.0
4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500,208.0,2.0,4.0

In [152]:
test.head(5)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,hp,liters,cylinders
id,,,,,,,,,,,,,,
188533,Land,Rover LR2 Base,2015,98000,Gasoline,240.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Beige,None reported,Yes,240.0,2.0,4.0
188534,Land,Rover Defender SE,2020,9142,Hybrid,395.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,Silver,Black,None reported,Yes,395.0,3.0,6.0
188535,Ford,Expedition Limited,2022,28121,Gasoline,3.5L V6 24V PDI DOHC Twin Turbo,10-Speed Automatic,White,Ebony,None reported,NaN,NaN,3.5,NaN
188536,Audi,A6 2.0T Sport,2016,61258,Gasoline,2.0 Liter TFSI,Automatic,Silician Yellow,Black,None reported,NaN,NaN,NaN,NaN
188537,Audi,A6 2.0T Premium Plus,2018,59000,Gasoline,252.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes,252.0,2.0,4.0

In [153]:
# Fuel type has 5000+ NaN values, extracting from engine column
def extract_fuel(engine):
    if pd.isna(engine):
        return np.nan
    if 'Gasoline' in engine:
        return 'Gasoline'
    elif 'Hybrid' in engine:
        return 'Hybrid'
    elif 'Flex Fuel' in engine or 'E85' in engine:
        return 'Flex Fuel'
    elif 'Diesel' in engine:
        return 'Diesel'
    elif 'Electric' in engine:
        return 'Electric'
    else:
        return np.nan

In [154]:
train['extracted_fuel'] = train['engine'].apply(extract_fuel)
train['fuel_type'].fillna(train['extracted_fuel'], inplace=True)
train.drop(columns=['extracted_fuel'], inplace=True)

C:\Users\jason\AppData\Local\Temp\ipykernel_19444\2685392114.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['fuel_type'].fillna(train['extracted_fuel'], inplace=True)

In [155]:
test['extracted_fuel'] = test['engine'].apply(extract_fuel)
test['fuel_type'].fillna(test['extracted_fuel'], inplace=True)
test.drop(columns=['extracted_fuel'], inplace=True)

C:\Users\jason\AppData\Local\Temp\ipykernel_19444\2232907136.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['fuel_type'].fillna(test['extracted_fuel'], inplace=True)

In [156]:
train['fuel_type'].isnull().sum()

np.int64(177)

In [157]:
test['fuel_type'].isnull().sum()

np.int64(111)

In [158]:
train.isnull().sum()

brand               0
model               0
model_year          0
milage              0
fuel_type         177
engine              0
transmission        0
ext_col             0
int_col             0
accident         2452
clean_title     21419
price               0
hp              33259
liters          14214
cylinders       37855
dtype: int64

In [159]:
test.isnull().sum()

brand               0
model               0
model_year          0
milage              0
fuel_type         111
engine              0
transmission        0
ext_col             0
int_col             0
accident         1632
clean_title     14239
hp              22181
liters           9407
cylinders       25150
dtype: int64

In [160]:
train['accident'] = train['accident'].fillna('None reported')
test['accident'] = test['accident'].fillna('None reported')

In [161]:
train.isnull().sum()

brand               0
model               0
model_year          0
milage              0
fuel_type         177
engine              0
transmission        0
ext_col             0
int_col             0
accident            0
clean_title     21419
price               0
hp              33259
liters          14214
cylinders       37855
dtype: int64

In [162]:
train = train.drop('engine', axis=1)
test = test.drop('engine', axis=1)

In [163]:
train['fuel_type'].value_counts()

fuel_type
Gasoline          165986
Hybrid              6835
E85 Flex Fuel       5406
Electric            4854
Diesel              3957
–                    781
Plug-In Hybrid       521
not supported         15
Flex Fuel              1
Name: count, dtype: int64

In [166]:
train.isnull().sum()

brand               0
model               0
model_year          0
milage              0
fuel_type           0
transmission        0
ext_col             0
int_col             0
accident            0
clean_title     21419
price               0
hp              33259
liters          14214
cylinders       37855
dtype: int64

In [167]:
test.isnull().sum()

brand               0
model               0
model_year          0
milage              0
fuel_type           0
transmission        0
ext_col             0
int_col             0
accident            0
clean_title     14239
hp              22181
liters           9407
cylinders       25150
dtype: int64

In [168]:
train['clean_title'].fillna('Unknown', inplace=True)
test['clean_title'].fillna('Unknown', inplace=True)

C:\Users\jason\AppData\Local\Temp\ipykernel_19444\1554026543.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['clean_title'].fillna('Unknown', inplace=True)
C:\Users\jason\AppData\Local\Temp\ipykernel_19444\1554026543.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['clean_title'].fillna('Unknown', inplace=True)

In [195]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='most_frequent')

train[['fuel_type']] = imputer.fit_transform(train[['fuel_type']])
test[['fuel_type']] = imputer.transform(test[['fuel_type']])

In [196]:
train[['hp', 'liters', 'cylinders']] = train[['hp', 'liters', 'cylinders']].fillna(train[['hp', 'liters', 'cylinders']].median())
test[['hp', 'liters', 'cylinders']] = test[['hp', 'liters', 'cylinders']].fillna(test[['hp', 'liters', 'cylinders']].median())

In [197]:
print(f'Train Null Values:{train.isnull().sum()}')
print('------------------------------------------------')
print(f'Test Null Values:{test.isnull().sum()}')

Train Null Values:model_year      0
milage          0
fuel_type       0
transmission    0
accident        0
clean_title     0
price           0
hp              0
liters          0
cylinders       0
dtype: int64
------------------------------------------------
Test Null Values:model_year      0
milage          0
fuel_type       0
transmission    0
accident        0
clean_title     0
hp              0
liters          0
cylinders       0
dtype: int64

In [171]:
from sklearn.preprocessing import OneHotEncoder

In [200]:
OHE = OneHotEncoder(sparse_output=False, drop='first')

cat_features = ['fuel_type', 'transmission', 'accident', 'clean_title']

train_encoded = OHE.fit_transform(train[cat_features])

train_encoded_df = pd.DataFrame(train_encoded, columns=OHE.get_feature_names_out(cat_features))

test_encoded = OHE.transform(test[cat_features])

test_encoded_df = pd.DataFrame(test_encoded, columns=OHE.get_feature_names_out(cat_features))

train = pd.concat([train.reset_index(drop=True), train_encoded_df.reset_index(drop=True)], axis=1).drop(columns=cat_features)
test = pd.concat([test.reset_index(drop=True), test_encoded_df.reset_index(drop=True)], axis=1).drop(columns=cat_features)

In [201]:
from sklearn.preprocessing import StandardScaler

In [202]:
scaler = StandardScaler()

cols_to_normalize = ['milage', 'hp', 'liters', 'cylinders']

train[cols_to_normalize] = scaler.fit_transform(train[cols_to_normalize])
test[cols_to_normalize] = scaler.fit_transform(test[cols_to_normalize])

In [203]:
train = train.drop(columns=['brand', 'model', 'ext_col', 'int_col'], axis=1)
test = test.drop(columns=['brand', 'model', 'ext_col', 'int_col'], axis=1)

KeyError: "['brand', 'model', 'ext_col', 'int_col'] not found in axis"

In [204]:
print(train.isnull().sum())
print(test.isnull().sum())

model_year                                     0
milage                                         0
price                                          0
hp                                             0
liters                                         0
                                              ..
transmission_Transmission w/Dual Shift Mode    0
transmission_Variable                          0
transmission_–                                 0
accident_None reported                         0
clean_title_Yes                                0
Length: 67, dtype: int64
model_year                                     0
milage                                         0
hp                                             0
liters                                         0
cylinders                                      0
                                              ..
transmission_Transmission w/Dual Shift Mode    0
transmission_Variable                          0
transmission_–                                 0
accident_None reported                         0
clean_title_Yes                                0
Length: 66, dtype: int64

In [206]:
from sklearn.model_selection import train_test_split

In [207]:
X = train.drop('price', axis=1)
y = train['price']
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [208]:
X.head()

,model_year,milage,hp,liters,cylinders,fuel_type_E85 Flex Fuel,fuel_type_Electric,fuel_type_Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,...,transmission_M/T,transmission_Manual,transmission_SCHEDULED FOR OR IN PRODUCTION,transmission_Single-Speed Fixed Gear,transmission_Transmission Overdrive Switch,transmission_Transmission w/Dual Shift Mode,transmission_Variable,transmission_–,accident_None reported,clean_title_Yes
0,2007,2.957842,-1.618449,-1.671509,-1.644775,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1,2002,1.557184,-0.851173,0.089138,1.216798,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2002,1.426276,-0.198989,1.160837,1.216798,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,2017,-0.927854,0.760106,0.931187,1.216798,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
4,2021,-1.171076,-1.273175,-1.365309,-1.644775,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [209]:
X.columns

Index(['model_year', 'milage', 'hp', 'liters', 'cylinders',
       'fuel_type_E85 Flex Fuel', 'fuel_type_Electric', 'fuel_type_Flex Fuel',
       'fuel_type_Gasoline', 'fuel_type_Hybrid', 'fuel_type_Plug-In Hybrid',
       'fuel_type_not supported', 'fuel_type_–',
       'transmission_1-Speed Automatic', 'transmission_10-Speed A/T',
       'transmission_10-Speed Automatic',
       'transmission_10-Speed Automatic with Overdrive', 'transmission_2',
       'transmission_2-Speed A/T', 'transmission_2-Speed Automatic',
       'transmission_4-Speed A/T', 'transmission_4-Speed Automatic',
       'transmission_5-Speed A/T', 'transmission_5-Speed Automatic',
       'transmission_5-Speed M/T', 'transmission_6 Speed At/Mt',
       'transmission_6 Speed Mt', 'transmission_6-Speed',
       'transmission_6-Speed A/T', 'transmission_6-Speed Automatic',
       'transmission_6-Speed Automatic with Auto-Shift',
       'transmission_6-Speed Electronically Controlled Automatic with O',
       'transmission_6-Speed M/T', 'transmission_6-Speed Manual',
       'transmission_7-Speed', 'transmission_7-Speed A/T',
       'transmission_7-Speed Automatic',
       'transmission_7-Speed Automatic with Auto-Shift',
       'transmission_7-Speed DCT Automatic', 'transmission_7-Speed M/T',
       'transmission_7-Speed Manual', 'transmission_8-SPEED A/T',
       'transmission_8-SPEED AT', 'transmission_8-Speed A/T',
       'transmission_8-Speed Automatic',
       'transmission_8-Speed Automatic with Auto-Shift',
       'transmission_8-Speed Manual', 'transmission_9-Speed A/T',
       'transmission_9-Speed Automatic',
       'transmission_9-Speed Automatic with Auto-Shift', 'transmission_A/T',
       'transmission_Automatic', 'transmission_Automatic CVT',
       'transmission_CVT Transmission', 'transmission_CVT-F', 'transmission_F',
       'transmission_M/T', 'transmission_Manual',
       'transmission_SCHEDULED FOR OR IN PRODUCTION',
       'transmission_Single-Speed Fixed Gear',
       'transmission_Transmission Overdrive Switch',
       'transmission_Transmission w/Dual Shift Mode', 'transmission_Variable',
       'transmission_–', 'accident_None reported', 'clean_title_Yes'],
      dtype='object')

In [210]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [216]:
LR = LinearRegression()

LR.fit(X_train, y_train)
y_pred_LR = LR.predict(X_test)
LR_mse = mean_squared_error(y_test, y_pred_LR)
LR_rmse = np.sqrt(LR_mse)
print(f'Validation RMSE: {LR_rmse}')

Validation RMSE: 68593.76191913016

In [218]:
from sklearn.tree import DecisionTreeRegressor

DT_model = DecisionTreeRegressor(max_depth=5)

DT_model.fit(X_train, y_train)
y_pred_dt = DT_model.predict(X_test)
mse_dt = mean_squared_error(y_test, y_pred_dt)
rmse_dt = np.sqrt(mse_dt)
print(f'Decision Tree RMSE: {rmse_dt}')

Decision Tree RMSE: 68265.4546166659

In [219]:
from sklearn.ensemble import RandomForestRegressor

RF_model = RandomForestRegressor(n_estimators=100, random_state=42)

RF_model.fit(X_train, y_train)
y_pred_rf = RF_model.predict(X_test)
mse_rf = mean_squared_error(y_test, y_pred_rf)
rmse_rf = np.sqrt(mse_rf)
print(f'Random Forest RMSE: {rmse_rf}')

Random Forest RMSE: 75334.34902706993

In [220]:
from sklearn.ensemble import GradientBoostingRegressor

GB_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)

GB_model.fit(X_train, y_train)
y_pred_gb = GB_model.predict(X_test)
mse_gb = mean_squared_error(y_test, y_pred_gb)
rmse_gb = np.sqrt(mse_gb)
print(f'Gradient Boosting RMSE: {rmse_gb}')

Gradient Boosting RMSE: 67363.70612821051

In [222]:
from xgboost import XGBRegressor

XGB_model = XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)

XGB_model.fit(X_train, y_train)
y_pred_xgb = XGB_model.predict(X_test)
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
rmse_xgb = np.sqrt(mse_xgb)
print(f'XGBoost RMSE: {rmse_xgb}')

XGBoost RMSE: 67296.29552818552

In [224]:
from lightgbm import LGBMRegressor

LGBM_model = LGBMRegressor(n_estimators=100, learning_rate=0.1, max_depth=-1, random_state=42)

LGBM_model.fit(X_train, y_train)
y_pred_lgbm = LGBM_model.predict(X_test)
mse_lgbm = mean_squared_error(y_test, y_pred_lgbm)
rmse_lgbm = np.sqrt(mse_lgbm)
print(f'LightGBM RMSE: {rmse_lgbm}')

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.002574 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 696
[LightGBM] [Info] Number of data points in the train set: 126317, number of used features: 54
[LightGBM] [Info] Start training from score 43986.023124
LightGBM RMSE: 67249.62474808528

In [225]:
from sklearn.svm import SVR

SVR_model = SVR(kernel='linear')

SVR_model.fit(X_train, y_train)
y_pred_svr = SVR_model.predict(X_test)
mse_svr = mean_squared_error(y_test, y_pred_svr)
rmse_svr = np.sqrt(mse_svr)
print(f'Support Vector Regression RMSE: {rmse_svr}')

Support Vector Regression RMSE: 70629.01388759573

In [226]:
from sklearn.neighbors import KNeighborsRegressor

KNN_model = KNeighborsRegressor(n_neighbors=5)

KNN_model.fit(X_train, y_train)
y_pred_knn = KNN_model.predict(X_test)
mse_knn = mean_squared_error(y_test, y_pred_knn)
rmse_knn = np.sqrt(mse_knn)
print(f'K-Nearest Neighbors RMSE: {rmse_knn}')

K-Nearest Neighbors RMSE: 74454.06917416841

In [228]:
from sklearn.neural_network import MLPRegressor

MLP_model = MLPRegressor(hidden_layer_sizes=(100,), max_iter=1000, random_state=42)

MLP_model.fit(X_train, y_train)
y_pred_mlp = MLP_model.predict(X_test)
mse_mlp = mean_squared_error(y_test, y_pred_mlp)
rmse_mlp = np.sqrt(mse_mlp)
print(f'Neural Network RMSE: {rmse_mlp}')

Neural Network RMSE: 67830.29490755155